body{
    background-image: linear-gradient(45deg,rgba(11, 00, 23, 0.9), rgba(00, 22, 48, 0.8)), url(../imagenes/fondo.jpeg) !important;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
}